@media only screen and (min-width: 47em) {
  #hero-img {
    width: 900px;
    opacity: 0.9;
  }
  .hero {
    margin: 0px;
    padding-bottom: 0px;
  }
  #description {
    margin-left: 100px;
    margin-right: 100px;
  }

  #p-events {
    margin-top: 50px;
    text-align: center;
    font-size: larger;
  }

  #content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px; 
}
}

@media (min-width: 47em) and (max-width: 949px) {
  #hero-img {
    height: 50vh;
    object-fit: cover;
  }
}

@media (min-width: 950px) {
  #hero-img {
    height: auto;
  }
}
